@page "/"
@using System.Security.Claims
@using Auth0.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication
@using ViteSales.ERP.Auth.Interfaces
@inject NavigationManager NavigationManager
@inject IAuthentication AuthenticationService
@inject IHttpContextAccessor HttpContextAccessor
<h3>Startup</h3>
<component param-InitialState="tokens" type="typeof(Program)" render-mode="ServerPrerendered" />
@code {
    protected override async Task OnInitializedAsync()
    {
        var tokens = new InitialApplicationState
        {
            AccessToken = await HttpContextAccessor.HttpContext.GetTokenAsync("access_token"),
            IdToken = await HttpContextAccessor.HttpContext.GetTokenAsync("id_token"),
            RefreshToken = await HttpContextAccessor.HttpContext.GetTokenAsync("refresh_token"),
        };
        if (tokens.IdToken == null)
        {
            var uri = await AuthenticationService.GetAuthorizationUri();
            NavigationManager.NavigateTo(uri!.ToString());
        }
    }
}